.git
.github
.idea
.vscode
.DS_Store
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
backups
npm-debug.log
.phpunit.cache
.phpunit.result.cache
