nosatipub.com, www.nosatipub.com {
    encode zstd gzip
    root * /srv/coming-soon
    file_server

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

pikado.nosatipub.com {
    encode zstd gzip

    handle /app/* {
        reverse_proxy reverb:8080
    }

    handle /apps/* {
        reverse_proxy reverb:8080
    }

    handle {
        reverse_proxy web:80
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
